{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Drlist.css' %}?v3">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <title>Dr_list</title>
</head>
<body>
    
<div class="container">
<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<div class="table-responsive">
				<table class="table user-list">
					<thead>
						<tr>
							<th><span>Dr Name</span></th>
							<th><span>Time</span></th>
							<th class="text-center"><span>Status</span></th>
							<th><span>Email</span></th>
							<th><span>Records</span></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<img src="static/images/Dr1.png" alt="No_pic">
								<a href="#" class="user-link">Dr Sadia Awan</a>
								<span class="user-subhead">Admin</span>
							</td>
							<td>
								2013/08/08
							</td>
							<td class="text-center">
								<span class="label label-default">Inactive</span>
							</td>
							<td>
								<a href="#">mila@kunis.com</a></td>
							<td>
								<a href="#">Open</a></td>
						</tr>
						<tr>
							<td>
								<img src="static/images/Dr2.png" alt="">
								<a href="#" class="user-link">Dr Hamid Khan</a>
								<span class="user-subhead">Member</span>
							</td>
							<td>
								2013/08/12
							</td>
							<td class="text-center">
								<span class="label label-success">Active</span>
							</td>
							<td>
								<a href="#">marlon@brando.com</a>
							</td>
			                <td>
								<a href="#">Open</a></td>
						</tr>
						<tr>
							<td>
								<img src="static/images/Dr3.png">
								<a href="#" class="user-link">Dr Nadia Hussain</a>
								<span class="user-subhead">Registered</span>
							</td>
							<td>
								2013/03/03
							</td>
							<td class="text-center">
								<span class="label label-danger">Banned</span>
							</td>
							<td>
								<a href="#">jack@nicholson</a></td>
							<td>
								<a href="#">Open</a></td>
						<tr>
							<td>
								<img src="static/images/Dr4.png" alt="">
								<a href="#" class="user-link">Dr Ahmed Khan</a>
								<span class="user-subhead">Registered</span>
							</td>
							<td>
								2004/01/24
							</td>
							<td class="text-center">
								<span class="label label-warning">Pending</span>
							</td>
							<td>
								<a href="#">humphrey@bogart.com</a></td>
							<td>
								<a href="#">Open</a></td>
						<tr>
							<td>
								<img src="static/images/Dr5.png" alt="">
								<a href="#" class="user-link">Dr Sara Hussain</a>
								<span class="user-subhead">Admin</span>
							</td>
							<td>
								2013/12/31
							</td>
							<td class="text-center">
								<span class="label label-success">Active</span>
							</td>
							<td>
								<a href="#">spencer@tracy</a>
							</td>
							<td>
								<a href="#">Open</a></td>
						</tr>
						<tr>
							<td>
								<img src="static/images/Dr6.png" alt="">
								<a href="#" class="user-link">Dr Imran Qureshi</a>
								<span class="user-subhead">Admin</span>
							</td>
							<td>
								2013/08/08
							</td>
							<td class="text-center">
								<span class="label label-default">Inactive</span>
							</td>
							<td>
								<a href="#">mila@kunis.com</a>
							</td>
							<td>
								<a href="#">Open</a></td>			
						</tr>
						<tr>
							<td>
								<img src="static/images/Dr7.png" alt="">
								<a href="#" class="user-link">Dr Salman Tariq</a>
								<span class="user-subhead">Member</span>
							</td>
							<td>
								2013/08/12
							</td>
							<td class="text-center">
								<span class="label label-success">Active</span>
							</td>
							<td>
								<a href="#">marlon@brando.com</a>
							</td>
							<td>
								<a href="#">Open</a></td>
						</tr>
						<tr>
							<td>
								<img src="static/images/Dr8.png" alt="">
								<a href="#" class="user-link">Dr Faraz Sheikh</a>
								<span class="user-subhead">Registered</span>
							</td>
							<td>
								2013/03/03
							</td>
							<td class="text-center">
								<span class="label label-danger">Banned</span>
							</td>
							<td>
								<a href="#">jack@nicholson</a>
							</td>
							<td>
								<a href="#">Open</a></td>			
						</tr>
						
							
						
					</tbody>
				</table>
			</div>
			
		</div>
	</div>
</div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js">
    </script>
</body>
</html>