
<div class="tests" >
      <center> <h1 id="libority">Laboratory</h1></center>
    <div class="row" style="--bs-gutter-x: 0;" >   
      <div class="col-md-3 ">
      <div class="card mb-3" style="height: 600px; width: 300px;  " > <img src="static/images/CTscan.png" alt="not find image" style="height:300px; width: 100%; object-fit:cover;">
          <div class="card-body"> 
            <h3 class="card-title">Radiology & Imaging (Big Tests)</h3>
            <p class="card-text"><ul>
                <li>MRI (Magnetic Resonance Imaging)</li>
                <li>CT Scan (Computed Tomography)</li>
            </ul></p>
          </div>
          <div class="card-footer">
              <a class="btn btn-primary " href="#" role="button" aria-disabled="true">Appointment</a>
            </div>
        </div>
        </div>
    
    
    <div class="col-md-3 ">
      
          <div class="card  mb-3" style="height: 600px; width: 300px; " ><img src="static/images/blood.png" alt=" no found img" style="height:300px; width: 100%; object-fit:cover;">
            <div class="card-body"> 
            <h3 class="card-link">Hematology (Blood Tests)</h3>
            <p class="card-text"><ul>
                <li>CBC (Complete Blood Count)</li>
                <li>Blood Grouping</li>
            </ul></p>  
            </div>
            <div class="card-footer">
              <a class="btn btn-primary " href="#" role="button" aria-disabled="true">Appointment</a>
            </div>
          </div>     
    </div>
    <div class="col-md-3 ">
      
      <div class="card  mb-3" style="height: 600px; width: 300px; "><img src="static/images/X-Ray.png" alt=" no found img" style="height:300px;width: 100%; object-fit:cover;">
            <div class="card-body"> 
            <h3 class="card-link">X-RAY</h3>
            <p class="card-text"><ul>
                <li>Chest X-Ray (PA View / AP View)</li>
                <li>KUB X-Ray (Kidneys, Ureters, Bladder)</li>
            </ul></p>  
            </div>
            <div class="card-footer">
              <a class="btn btn-primary " href="#" role="button" aria-disabled="true">Appointment</a>
            </div>
          </div>     
      </div>
    <div class="col-md-3 ">
          <div class="card  mb-3" style="height: 600px; width: 300px;"><img src="static/images/ultrasound.png" alt=" no found img" style="height:300px; width: 100%; object-fit:cover;">
            <div class="card-body"> 
            <h3 class="card-link">Ultrasound</h3>
            <p class="card-text"><ul>
                <li>Doppler Ultrasound</li>
                <li>Ultrasound Abdomen</li>
                <li>Ultrasound Thyroid</li>
            </ul></p>  
            </div>
            <div class="card-footer">
              <a class="btn btn-primary " href="#" role="button" aria-disabled="true">Appointment</a>
            </div>
          </div>     
    </div>
  </div>
  <br>

  <div class="row" style="--bs-gutter-x: 0;">  
    <div class="col-md-6  ">
      <div class="card ms-5" style="height: 600px; width: 500px;" > <img src="static/images/cardialogy.png" alt="not find image" style="height:300px; width: 100%; object-fit:fill;">
          <div class="card-body"> 
            <h3 class="card-title">Cardiology Tests</h3>
            <p class="card-text"><ul>
                <li>ECG (Electrocardiogram)</li>
                <li>Echocardiography (2D Echo / 3D Echo)</li>
                <li>Coronary Angiography</li>
                <li>Coronary Angioplasty</li>
            </ul></p>
          </div>
          <div class="card-footer">
              <a class="btn btn-primary " href="#" role="button" aria-disabled="true">Appointment</a>
            </div>
        </div>
        </div>
    <div class="col-md-6 ">
      <div class="card" style="height: 600px; width: 500px; " > <img src="static/images/Orthopedics.png" alt="not find image" style="height:300px; width: 100%; object-fit:fill;">
          <div class="card-body"> 
            <h3 class="card-title">Orthopedics (Bones & Joints)</h3>
            <p class="card-text"><ul>
                <li>DEXA Scan (Bone Density Test)</li>
                <li>Arthroscopy</li>               
            </ul></p>
          </div>
          <div class="card-footer">
              <a class="btn btn-primary " href="#" role="button" aria-disabled="true">Appointment</a>
            </div>
        </div>
        </div>
   
 
  
</div>


</div>
